@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


html {
    font-size: 62.5%; 
}

body {
    background-color: gainsboro;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
  
}


header {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

.header_contacto {
    margin-bottom: 3rem;
}

footer {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #007bff;

}

a:hover {
    text-decoration: underline;
}

aside {
    background-color: antiquewhite;
    border-left: 4px solid #007bff;
    padding: 1rem;
    margin: 20px 0;
}

.experiencia_prog_web {
    background-color: antiquewhite;
    border: 2px solid aquamarine;
    border-radius: 8px;
    padding-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.texto_enunciado {
    padding-left: 1rem;
}

.img_usuario_logo_curza {
    width: 10rem;
    border: 2px solid black;
    border-radius: 10rem; 
}

.header_acerca_de_preguntas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0;
    padding: 2rem 0;
}


/*
############### FORMULARIO ################ 
*/

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 2rem;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 1rem;
    max-width: 70rem;

}

label {
    display: block;
    margin-bottom: 0.5px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea, select {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.ayuda {
    color: #999;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.section_table {
    margin: 5rem 0;
}